<!-- components/HeaderLink.astro -->
---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		text-decoration: none;
		color: #8d6e7c;
		font-weight: 500;
		letter-spacing: 1px;
		font-size: 1rem;
		transition: color 0.2s;
	}
	a:hover {
		color: #6c5360;
	}
	a.active {
		font-weight: 700;
	}
</style>